@import url(http://fonts.googleapis.com/css?family=Allerta);
@import url(http://fonts.googleapis.com/css?family=Graduate);
body {
  background-color: #EFF1C2;
  margin-left: 20px;
  width: 500px;
  margin: auto;
  text-align: center;
}
.fee {
  color: #F0563D;
}
.deposit {
  color: #B7C11E;
}
.withdraw {
  color: #23A38F;
}
#ledger {
  font-family: 'Allerta', sans-serif;
}
table {
  border-spacing: 0px;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
}
th {
  padding: 25px;
}
h3,
thead {
  font-family: 'Helvetica' sans-serif;
}
h1 {
  font-family: 'Graduate', cursive;
}
#display {
  width: 100px;
  height: 25px;
  padding: 10px;
  margin: auto;
  text-align: center;
  font-family: 'Allerta', sans-serif;
}
.input {
  background-color: #2E313D;
  border-radius: 10px;
  border: none;
  height: 25px;
  color: #EFF1C2;
  padding-left: 10px;
  font-size: 15px;
  width: 100px;
  margin-right: 10px;
  outline: none;
}
#deposit {
  background-color: #B7C11E;
  border: none;
  border-radius: 10px;
  height: 25px;
  font-size: 15px;
  box-shadow: 1px 1px 1px #000000;
  outline: none;
  color: white;
}
#deposit:active {
  background-color: #8C9416;
}
#withdraw {
  background-color: #23A38F;
  border: none;
  border-radius: 10px;
  height: 25px;
  font-size: 15px;
  box-shadow: 1px 1px 1px #000000;
  outline: none;
  color: white;
}
#withdraw:active {
  background-color: #0E5B50;
}
tr:nth-child(2n) {
  background-color: #FFFFFF;
}
